# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.analysis_app/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log